<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>caamillo Webhook</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen flex justify-center items-center bg-[#352F44]">
    <div class="text-center">
        <p class="text-[#FAF0E6] text-8xl font-bold">404</p>
        <p class="font-medium text-2xl text-[#B9B4C7]">Nulla da vedere qui, cucciolo</p>
    </div>
</body>
</html>