<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>caamillo-webhook</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen flex justify-center items-center bg-[#352F44]">
    <p class="font-bold text-4xl text-[#FAF0E6] text-center">Cosa ci fai qua stupidinos</p>
</body>
</html>